
.rt-thead.-header{
    position:fixed;
    width:100%;
    background-color:#fff;
}
.rt-tbody{
    margin-top:28px;
}
.rt-th{
    border-bottom:solid 1px #eee
}
.rt-td{
    padding:0 !important;
    height:25px;
}
.rt-td .rd-text{
    width:100%;
    height:100%;
    font-size:15px;
    border:none;
}